@page
@model TheMyAsk.Web.Pages.Account.ResetPassword
@{
    ViewData["Title"] = "ResetPassword";
}
<div class="container">
    <div class="row" style="margin-top:30px;">
        <div class="col-lg"></div>
        <div class="col-lg">
            <div class="card mb-3">
                <article class="card-body">
                    <h4 class="card-title">ResetPassword</h4>
                    <hr>
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Input.MailAddress" class="control-label">MailAddress</label>
                            <input asp-for="Input.MailAddress" type="email" class="form-control form-control-sm" placeholder="sample@themyask.com" />
                            <span asp-validation-for="Input.MailAddress" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Send" class="btn btn-sm btn-primary btn-block">
                        </div>
                    </form>
                </article>
            </div>
        </div>
        <div class="col-lg"></div>
    </div>
</div>